### General ###
# log files
*.log
# temporary files and ANY directory named temp
temp/
.tmp
# Random crap
trash
.rvmrc
.trashes
# *~

##############


### Front end WebDev ###

### sass ###
.sass-cache
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### npm ###
# Optional npm cache directory
.npm
# Output of 'npm pack'
*.tgz

### macOS ###

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

##############


### VisualStudioCode ###

# General
.vscode/*
.vscode-test
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Ignore all local history of files
.history

##############
