{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

<h2>Create Listing</h2>

<div class="flex-container">

  <div class="left">
    <img src="{% static 'auctions/no_img.jpeg' %}" alt="No image available" 
        style="border:3px solid rgb(90, 89, 89)">

    <input class="form-control" type="url" name="image_url" placeholder="Image URL (optional)"> 
  </div>

  <div class="right">
    <form action="{% url 'create' %}" method="post">
      {% csrf_token %}

      <input class="form-control" type="text" name="title" placeholder="Title">
      <input class="form-control" type="text" name="description" placeholder="Description">      
      <input class="form-control" type="number" name="price" placeholder="Asking price (e.g. $9.99)">
      <select class="form-control" name="category">
        <option value="" disabled selected>Select category (optional)</option>
        {% for category in categories.all %}
          <option value="{{ category.title }}">{{ category.title }}</option>
        {% endfor %}
      </select>

      <input class="btn btn-primary" type="submit" value="Save Listing">

    </form>
  </div>
</div>


{% endblock %}