{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="wrap">
        {% for listing in listings %}
            <div class="flex-container">
                <div class="left">
                    {% if listing.image_url == null %}
                        <img src="{% static 'auctions/no_img.jpeg' %}" alt="No image available">
                    {% else %}        
                            <img src="{{ listing.image_url }}" alt="Listing image">
                    {% endif %}
                </div>
                <div class="right">
                    <h4>
                        <a href="{% url 'listing' listing.id %}">
                            {{ listing.title }}
                        </a>
                    </h4>
                    <p><strong>Price:</strong> ${{ listing.asking_price }}</p>
                    <p>{{ listing.description }}</p>
                    {% if listing.bids.all.last != None %}
                        <p>
                            <em>Highest bid:</em> ${{ listing.bids.all.last.amount }}
                        </p>
                    {% else %}
                        <p>No bids placed yet.</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}